/* === Custom global styles for CircuitVerse Docs === */
@media (max-width: 650px) {
  iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
  }
}

.theme-doc-markdown p,
.theme-doc-markdown li,
.markdown p,
.markdown li {
  text-align: justify;
}